@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Post
<form  method="post">

    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control">
      
    </div>
    <div class="mb-3">
        <label asp-for="Categort" class="form-label"></label>
        <input asp-for="Categort" class="form-control">
     

    </div>
    <div class="mb-3">
        <label asp-for="Body" class="form-label"></label>
        <input asp-for="Body" class="form-control">
 

    </div>
    <div class="mb-3">
        <label asp-for="Likes" class="form-label"></label>
        <input asp-for="Likes" class="form-control">
      

    </div>
    <div class="mb-3">
        <label asp-for="Share" class="form-label"></label>
        <input asp-for="Share" class="form-control">


    </div>
    <div class="mb-3">
        <label asp-for="User_Id" class="form-label"></label>
        <input asp-for="User_Id" class="form-control">
      

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
